<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/css/style.css">
    <title>login</title>
</head>
<body>
    
    <div class="img-container">
        <img class="logo-img" src="img/logo.jpeg" alt=""></img>
    </div>
    
    <div class="container">
  <form>
    <h2>Login</h2>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

	<input type="hidden" name="acao" value="Login">
    <button type="submit">Login</button>
  </form>
</div>

    
</body>
</html>
