<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/css/reset.css">
    <link rel="stylesheet" href="Assets/css/stylemenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="caixa">
            <img src="Assets/imgs/logo.png" alt="logo da empresa" id="img">
            <nav>
                <ul>
                    <li>
                        <a href="paginaAdcProduto.html">Adicionar Produto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

    </main>
</body>
</html>